  :root {
    --main-color: #d3ad7f;
    --black: #13131a;
    --bg: #010103;
    --border: 0.1rem solid rgba(255, 255, 255, 0.3);
    font-size: 10px;
  }

  * {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
    font-family: "Roboto", sans-serif;
  }

  body {
    background: var(--bg);

  }

  section {
    padding: 3rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom: var(--border);
    background: var(--bg);

  }

  .header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    padding-bottom: 1.5;
  }

  .navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    background: none;
    margin: 0;
    padding: 0;

  }

  .navbar a {
    margin: 0 1rem;
    color: #fff;
    font-size: 1.9rem;
    transition: all 0.3s ease;


  }

  .navbar a:hover {
    color: var(--main-color);
    border-bottom: 0.1rem solid var(--main-color);
    padding-bottom: 0.5rem;
    font-size: 2.0rem;


  }

  .icons img {
    margin: 1rem;
    cursor: pointer;

  }

  .icons img:hover {
    width: 40px;
    height: 40px;
  }

  .btn {
    background: var(--main-color);
    color: #fff;
    padding: 1rem 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 2rem;
    display: inline-block;
    border-radius: 2rem;
  }

  .btn:hover {
    letter-spacing: 0.1rem;
    background: #fff;
    color: var(--main-color);
  }

  .home-container {
    background-image: url(./home-img.jpg);

    background-position: center;
    background-size: cover;


  }

  .home-container section {
    height: 100vh;
    display: flex;
    align-items: center;
    min-height: 100vh;
  }

  .content {
    max-width: 800px;

  }

  .content h3 {
    color: #fff;
    font-size: 6rem;
    writing-mode: horizontal-tb !important;
    transform: rotate(0deg) !important;
    text-orientation: mixed !important;

  }

  .content p {
    color: #fff;
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.8;
    padding: 1rem 0;

  }

  .title {
    display: flex;
    font-size: 3rem;
    color: var(--main-color);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 4rem;
    gap: 1rem;
    justify-content: center;

  }

  .title span {
    color: #fff;
    text-transform: uppercase;

  }

  .about .row {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    background: var(--black);
  }

  .about .row .content {
    padding: 2rem;
  }

  .about .row .content h3 {
    font-size: 3rem;
    color: #fff;
  }

  .about .row .content p {
    font-size: 1.6rem;
    color: #fff;
    padding: 1rem 0;
    line-height: 1.8;
  }

  .Menu h2 {
    display: flex;
    font-size: 3rem;
    color: var(--main-color);
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
    margin-top: -20px;
  }

  .Menu h2 span {
    color: #fff;
    text-transform: uppercase;

  }

  .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
  }


  .Menu .box-container .box {
    background: var(--black);
    border: var(--border);
    padding: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 10px;

  }


  .Menu .box-container .box:hover {
    color: #fff;
    background-color: var(--main-color);
  }

  .Menu .box-container .box:hover .btn {
    background: #fff;
    color: var(--main-color);

  }


  .Menu .box-container .box img {
    height: 10rem;
    margin-bottom: 1rem;

  }

  .Menu .box-container .box h3 {
    font-size: 2.5rem;
    color: #fff;
    padding: 1rem 0;
  }

  .Menu .box-container .box p {
    font-size: 1.5rem;
    color: #fff;
    padding: 0.5rem 0;
    margin-top: -1rem;
  }


  .new-price {
    font-size: 1.5rem;
    color: #fff;
    padding: 0.5rem 0;
  }

  .old-price {
    font-size: 1.2rem;
    text-decoration: line-through;
    font-weight: lighter;
    color: #fff
  }

  .Menu .box-container .btn {
    display: block;
    width: fit-content;
    background: var(--main-color);
    color: #fff;
    padding: 0.8rem 1.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 1rem auto 0 auto;
    border-radius: 2rem;
    text-align: center;



  }

  .review .title {
    margin-bottom: 1rem;
    font-size: 3rem;
    margin-top: -20px;
  }


  .Menu .box-container .box img {

    width: 100%;
    height: auto;
    max-height: 15rem;
    object-fit: contain;
    margin-bottom: 1rem;
  }

  .review .box-container .box {
    background: var(--black);
    border: 1px solid #222;
    border-radius: 2rem;
    padding: 2rem;
    text-align: center;
    width: 420px;
    border: var(--border)
  }

  .review .box-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
  }



  .review .box-container .box .user {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto 15px;
    display: block;
    padding: 0;
    border: none;
  }

  .review .box-container .box h3 {
    color: #fff;
    font-size: 1.6rem;
    margin-bottom: 10px;
  }

  .review .box-container .box p {
    font-size: 1.2rem;
    color: #ccc;
    line-height: 1.6;
    margin-bottom: 15px;
    text-align: center;
  }

  .box-container.stars {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding-bottom: 10px;
  }



  .box-container.stars img {
    width: 20px;
    height: 20px;
    display: block;
  }

  .address {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .contente h3 {
    display: flex;
    color: #fff;
    font-size: 3rem;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
  }

  .contente p {
    display: flex;
    color: #fff;
    font-size: 1.6rem;
    line-height: 1.8;
    justify-content: center;
    align-items: center;
    padding: 0.3rem 0;

  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0rem;
    cursor: pointer;
    border-top: var(--border);
    margin-top: 2rem;
  }

  .footer .share img {
    width: 35px;
    height: 35px;
    margin: 0 1rem;
    border-radius: 50%;
    transition: 0.3s ease;
  }

  .footer .share img:hover {
    transform: scale(1.15);
  }